.btn-pag {
    position: relative;
    top: -1vh;
    display: block;
    width: 3vw;
    height: 4vh;
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    color: #000;
    border: 1px solid #AAAAAA;
    /* background-color: #FFFFFF; */
 }
