.btn {
    /* width: 4vw; */
    height: 3vh;
    margin-left: 10px;
    font-size: 1vw;
    font-weight: 700;
    color: #000;
    border: 1px solid #AAAAAA;
    background-color: #eeeeee;
    border-radius: 10px;
}