.grid-container {
  display: flex;
  height: 100%;
  padding: 0;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: .5fr 3fr repeat(6, 2.5fr);
  grid-gap: 1vw 0;
}

.head {
  display: flex;
  justify-content: center;
  align-items:center;
}

.head-span {
  display: block;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: #090706;
}

.col {
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
  border: 2px solid #AAAAAA;
}

.col3,
.col4,
.col5,
.col6,
.col7 {
  border-left: none;
  border-right: none;
}

.col8 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: none;
}

.col1 {
  display: flex;
  justify-content: center;
  align-items:center;

  border: 2px solid #AAAAAA;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.col2 {
  display: flex;
  justify-content: left;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  text-align: left;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #090706;
  border: 2px solid #AAAAAA;
  border-left: none;
  border-right: none;
}

.col5, .col7 {
  color: #FF4D00;
}

.col3, .col8 {
  color: #BFC0C7;
  /* background-color: rgb(181, 242, 159); */
}

.col4, .col6 {
  font-weight: 500;
  color: #090706;
}

.row-false {
  background: rgba(238, 238, 238, 0.6);
  border: 2px solid rgba(9, 7, 6, 0.2);
  border-radius: 12px;
}

.row-span {
  display: block;
}

.col-false {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 35px;
  text-align: center;
  color: #090706;
  background-color: #EEEEEE;
}