.bar-chart__container {
  position: absolute;
  top: 900px;
  left: 450px;
  width: 680px;
  height: 432px;
}

.bar-chart {
  position: relative;
  top: -500px;
  left: -360px;
  width: 680px;
  height: 360px;
  display: flex;
  align-items: flex-end;
}

.bar-chart__span {
  position: relative;
  top: -500px;
  left: -350px;
  display: block;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #090706;
}
