.bar-chart__container {
  position: absolute;
  top: 596px;
  left: 86px;
  width: 680px;
  height: 432px;
  /* background-color: rgb(243, 214, 214); */
}

.bar-chart {
  position: relative;
  top: 0px;
  left: 0px;
  width: 680px;
  height: 432px;
  display: flex;
  align-items: flex-end;
  /* background-color: rgb(248, 247, 209); */
}

.bar-chart__span {
  display: block;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #090706;
  /* background-color: rgb(194, 244, 184); */
}

.bar-chart__wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin: 30px;
  /* background-color: rgb(214, 230, 243); */
}

.bar-chart__bar {
  background-color: red;
  display: flex;
  align-items: flex-end;
  width: 100px;
  justify-content: center;
  border-radius: 5px;
}

.bar-chart__value {
  margin-top: 10px;
  margin-bottom: 0;
}

.bar-chart__percent {
  color: gray;
  margin-top: 10px;
  margin-bottom: 0;
}
