.card-company {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.card-company1 {
    border-color: #C49EEA;
}
.card-company2 {
    border-color: #9EB3FC;
}
.card-company3 {
    border-color: #A5DED0;
}

.card-company__container {
    display: grid;
    width: 100%;
    height: 80%;
    color:black;
}

.crop-div {
    border: 1px solid #DDDDDD;
}

.crop-div10 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.crop-div11 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.crop-div12 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.crop-div20 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.crop-div21 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.crop-div22 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.crop-div30 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.crop-div31 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.crop-div32 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.crop-div40 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.crop-div41 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.crop-div42 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.crop-div50 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.crop-div51 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.crop-div52 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.crop-div60 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.crop-div61 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.crop-div70 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.crop-div71 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.crop-div80 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card-company__name {
    display: block;
    height: 20%;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: right;
    letter-spacing: 0.03em;
    background-color: rgb(241,225,252);
}

.card-company__name1 {
    background-color: rgb(241,225,252);
}

.card-company__name2 {
    background-color: rgb(226,232,254);
}

.card-company__name3 {
    background-color: rgb(222,247,243);
}

.card-company__name-span {
    display: block;
}

