.pie-chart {
    position: absolute;
    top: 60%;
    left: 1000px;
    width: 900px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(249, 230, 230); */
  }
  
  .spanPie {
    display: block;
    width: 200px;
    text-decoration:underline;
  }