.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    flex: 6 0 0;
  }

.pie-chart__label {
  font-size: 1.25rem;
  font-weight: 400;
  overflow: visible !important;
  text-overflow: 'none';
}