* {
    box-sizing: border-box;
}

.page3 {
    width: 98vw;
    height:96.5vh;

    margin: 0 auto;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.page3__container     {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:  calc(100% - 52px);
    padding: 0 .8vw;
    background-position: center top 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #DDDDDD;
    flex-grow: 1;
}

.page3__h-line {
    width: 1px;
    height: 100%;
    margin: 0 .4vw;
    border: 1px solid #DDDDDD;
}

.page3-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.region1,
.region2,
.region3 {
    height: calc(100% - 4vh);
    margin: 2vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.region1 {
    flex: 1 1 0;
    width: 32%;
}
.region2 {
    flex: 1 1 0;
    width: 32%;
}
.region3 {
    flex: 1 1 0;
    width: 32%;
}

h3 {
    position: relative;
    top: -1vh;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;

    text-align: center;
    letter-spacing: 0.03em;
}

.region1 > h3 {
    color: #C49EEA;
}
.region2 > h3 {
    color: #9EB3FC;
}
.region3 > h3 {
    color: #A5DED0;
}

.content-region1,
.content-region2,
.content-region3 {
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5vh;
}

.content-region2 {
    display: grid;
    grid-auto-columns: 1fr;
    gap: .5vh;
    width: 99%;
    margin: 0 auto;
    padding-bottom: .7vh;
}


.page3__footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -.8vh;
    width: 100%;
    height: 7.2%;
    margin: 0 auto;
    padding: 0 2.5%;
    border-left: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
}


.reg1, .reg2, .reg3 {
    flex-grow: 1;
}

.region1__item--wrapper,
.region2__item--wrapper,
.region3__item--wrapper {
    display: flex;
    flex-basis: 110px;
    column-gap: 5px;
}

/* .reg20 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.reg21 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.reg22 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.reg23 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.reg24 {
    height: 6vh;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
} */

/* .context-region2 > div:nth-child(4) {
    grid-column: 2 / 3;
} */
