* {
    box-sizing: border-box;
}

.page2 {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.container-tab {
    width: 100%;
    flex: 6 0 0;
}

.container-chart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    flex: 4 0 0;
}              