.page2 {
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.container-tab {
    width: 100vw;
    margin-top: 32px;
    /* background-color: rgb(247, 237, 237); */
}

.container-chart {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 44vh;
    /* backgroun d-color: rgb(201, 211, 248); */
}